.footer {
  background: url('../img/footer.png') no-repeat 50% 50%;
  background-size: cover;
  padding: 45px 0;
}

.footer-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-logo {
  max-width: 250px;
  margin-bottom: 45px;
}

.footer-info {
  display: flex;
}

.footer-contacts,
.footer-menu {
  flex: 1;
}

.adress {
  margin-bottom: 33px;
}

.footer-social {
  flex: none;
  width: 270px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
}

.subtitle,
.footer-menu-subtitle,
.footer-social-subtitle {
  display: block;
  font-size: 16px;
  color: #8d8d8d;
  margin-bottom: 2px;
}

.footer-menu-subtitle {
  margin-bottom: 12px;
  font-size: 18px;
}

.footer-social-subtitle {
  margin-bottom: 15px;
}

.footer-social-link {
  text-decoration: none;
  color: #505050;
  display: inline-block;
  padding-left: 35px;
  background: no-repeat 0% 50%;
  background-size: auto 18px;
  margin-bottom: 12px;
  transition: color 0.3s linear;
}

.footer-social-link:hover {
  color: #7fbc2d;
}

.footer-social .vk {
  background-image: url('../img/social-icon/vk-icon-hover.svg');
}

.footer-social .fb {
  background-image: url('../img/social-icon/fb-icon-hover.svg');
}

.footer-social .inst {
  background-image: url('../img/social-icon/inst-icon-hover.svg');
}

.phone {
  margin-bottom: 70px;
}

.phone-subtitle {
  font-size: 14px;
}

.phone-number {
  font-size: 30px;
  color: #505050;
}

.copyright {
  font-size: 14px;
  color: #515151;
}

.ask-link {
  display: inline-block;
  font-size: 24px;
  color: #7ebc2e;
  text-decoration: none;
  border-bottom: 1px solid #7ebc2e;
  margin-bottom: 70px;
  transition: 0.3s border-color linear;
}

.ask-link:hover {
  border-color: transparent;
}

.footer-menu-toggle {
  display: none;
}

.footer-menu-list {
  margin: 10px 0 40px;
  padding-left: 20px;
}

.footer-menu-item {
  color: #7fbc2d;
  margin-bottom: 7px;
}

.footer-menu-link,
.footer-menu-section-link {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #515151;
  text-decoration: none;
  transition: color 0.3s linear;
}

.footer-menu-section-link {
  margin-bottom: 3px;
}

.footer-menu-link:before,
.footer-menu-section-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #77ad2f;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .3s ease-in-out 0s;
}

.footer-menu-link:hover:before,
.footer-menu-section-link:hover:before {
  transform: scaleX(1);
  visibility: visible;
}

.footer-menu-link:hover,
.footer-menu-section-link:hover {
  color: #7fbc2d;
}

@media (max-width: 1000px) {
  .footer-info {
    flex-wrap: wrap;
  }

  .footer-social {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 35px;
  }

  .footer-social-subtitle {
    width: 100%;
  }

  .footer-social-link {
    margin-right: 50px;
  }

  .footer-menu {
    padding-left: 40px;
  }
}

@media (max-width: 567px) {
  .footer-menu-inner {
    display: none;
  }

  .footer-container {
    padding: 0;
  }

  .footer-menu-toggle {
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    background-color: #77ad2f;
    padding: 0 20px;
  }

  .footer-menu-inner.open {
    position: relative;
    display: block;
    background-color: #5c9114;
    padding: 30px 20px;
  }

  .footer-menu-inner.open:after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #77ad2f;
    top: 0;
    left: 50%;
    margin-left: -5px;
  }

  .footer-menu-subtitle {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
  }

  .footer-menu-list {
    margin-bottom: 25px;
  }

  .footer-contacts, .footer-menu {
    flex: none;
    width: 100%;
    padding: 40px 0;
    font-size: 18px;
  }

  .footer-logo,
  .footer-contacts,
  .footer-social {
    padding: 0 20px;
  }

  .footer-menu-link, .footer-menu-section-link {
    color: #ffffff;
  }

  .footer-menu-section-link {
    padding: 5px 0;
  }

  .footer-menu-item {
    color: transparent;
  }

  .menu-icon {
    display: inline-block;
    width: 40px;
    height: 30px;
    background: url('../img/menu-icon.png') no-repeat 50% 50%;
    margin-right: 15px;
  }

  .footer-social {
    margin-top: 0;
  }

  .ask-link,
  .phone {
    margin-bottom: 30px;
  }

  .footer-logo {
    margin-bottom: 0;
  }
}