.header {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
  z-index: 1;
  padding: 0 2em;
}

.header-menu-toggle {
  display: none;
}

.header-left-section {
  display: flex;
  align-items: center;
  height: 7.5em;
}

.header-right-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  height: 7.5em;
  justify-content: flex-end;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo-link {
  width: 19em;
}

.header-description {
  font-size: 0.875em;
  padding: 0.2em 0 0.2em 1.25em;
  margin-left: 1.25em;
  border-left: 1px solid #fff;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 590px;
  margin: 0 15px;
  text-align: right;
}

.header-menu-link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: bold;
  transition: color 0.3s;
}

.header-menu-link:hover {
  color: #77ad2f;
}

.header-menu-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -0.7em;
  left: 0;
  max-width: 100%;
  background-color: #77ad2f;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .3s ease-in-out 0s;
}

.header-menu-link:hover:after {
  transform: scaleX(1);
  visibility: visible;
}

.header-menu-phone {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1.3em;
}

.header-phone {
  font-size: 1.5em;
  padding-left: 2.2em;
  background: no-repeat left center;
  background-image: url('../img/phone-icon.svg');
  background-size: auto 98%;
  white-space: nowrap;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s linear, background-image 0.3s linear;
}

.header-phone:hover {
  color: #77ad2f;
  background-image: url('../img/phone-icon-hover.svg');
}

.header-social {
  display: flex;
  width: 7.2em;
  justify-content: space-between;
}

.header-social-link {
  display: inline-block;
  height: 20px;
  width: 25px;
  background: no-repeat 50% 50%;
  background-size: auto 100%;
  transition: background-image 0.3s linear, transform 0.3s linear;
  transform: scale(1);
}

.header-social-link:hover {
  transform: scale(1.15);
}

.header-social .vk {
  background-image: url('../img/social-icon/vk-icon.svg');
}

.header-social .vk:hover {
  background-image: url('../img/social-icon/vk-icon-hover.svg');
}

.header-social .fb {
  background-image: url('../img/social-icon/fb-icon.svg');
}

.header-social .fb:hover {
  background-image: url('../img/social-icon/fb-icon-hover.svg');
}

.header-social .inst {
  background-image: url('../img/social-icon/inst-icon.svg');
}

.header-social .inst:hover {
  background-image: url('../img/social-icon/inst-icon-hover.svg');
}

@media (max-width: 1400px) {
  .header-description {
    font-weight: 600;
    font-size: 11px;
  }
}

@media (max-width: 1275px) {
  .header {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 15px;
  }
}

@media (max-width: 767px) {
  .header-left-section {
    justify-content: space-between;
  }

  .header-menu {
    display: none;
  }

  .header-menu.open {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    background-color: #5c9114;
    z-index: 5;
    padding: 15px 0;
    margin: 0;
  }

  .header-menu.open:after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #77ad2f;
    top: 0;
    left: 50%;
    margin-left: -5px;
  }

  .header-menu-link {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 47px;
    align-items: center;
    transition: 0.3s all linear;
  }

  .header-menu-link:after {
    display: none;
  }

  .header-menu-link:hover {
    background-color: #4c8103;
    color: #92c323;
  }

  .header-menu-toggle {
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    background-color: #77ad2f;
    padding: 0 20px;
    cursor: pointer;
  }

  .menu-icon {
    display: inline-block;
    width: 40px;
    height: 30px;
    background: url(../img/menu-icon.png) no-repeat 50% 50%;
    margin-right: 15px;
  }

}

@media (max-width: 567px) {
  .header {
    padding: 15px 15px 0;
  }

  .header-left-section, .header-right-section {
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .top-slide-text-block {
    font-size: 10px;
  }

  .header-logo {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-menu-phone {
    justify-content: center;
  }

  .header-logo-link {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .header-description {
    font-size: 0.7em;
    margin-top: -15px;
    padding: 0;
    margin-left: 90px;
    border-left: 0;
  }

  .header-left-section,
  .header-right-section {
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 0;
  }

  .header-right-section {
    align-items: center;
  }

  .header-nav-toggle {
    order: -1;
    margin-bottom: 30px;
  }

  .top-section-description br {
    display: none;
  }

  .top-section-btn {
    max-width: 120px;
  }
}