.services-slider-list {
  opacity: 0.99;
  background-color: rgba(26, 25, 24, 1);
}

.services-slide {
  display: flex;
  align-items: center;
  height: 700px;
  color: #ffffff;
  background: no-repeat 50% 50%;
  background-size: auto 100%;
}

.services-slider-list .overlay-effect {
  z-index: 0;
}

.services-slide-text {
  position: relative;
  text-align: center;
}

.services-slide-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.services-slide-descr {
  font-size: 18px;
}

.sr-sl-1 {
  background-image: url('../img/services-slider/1.png');
}

@-webkit-keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

.services-slider-dots {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.services-slider-dot {
  width: 30px;
  height: 30px;
  border: 3px solid rgba(219, 220, 222, 1);
  border-radius: 100%;
  cursor: pointer;
  margin: 0 14px;
  transition: border-color 0.3s linear;
}

.services-slider-dot:hover {
  border-color: rgba(219, 220, 222, 0.46);
}

.services-slider-dot.active {
  border: 3px solid #77ad2f;
  border-left-color: #77ad2f;
  border-bottom-color: #77ad2f;
  border-right-color: rgba(219, 220, 222, 0.46);
  animation: loader 0.9s infinite linear;
}

.services-slider-nav {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 0;
  right: 0;
  height: 80px;
}

.services-slider-prev,
.services-slider-next {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid #ffffff;
  cursor: pointer;
  background: no-repeat 50% 50%;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.services-slider-prev:hover,
.services-slider-next:hover {
  opacity: 0.5;
}

.services-slider-prev {
  left: 40px;
  background-image: url('../img/services-slider/prev.png');
}

.services-slider-next {
  right: 40px;
  background-image: url('../img/services-slider/next.png');
}

@media (max-width: 1400px) {
  .services-slider-prev,
  .services-slider-next {
    width: 60px;
    height: 60px;
    background-size: 30px auto;
  }
}

@media (max-width: 1000px) {
  .services-slider-nav {
    display: none;
  }

  .services-slide-descr br {
    display: none;
  }
}

@media (max-width: 567px) {
  .services-slide-title {
    font-size: 26px;
  }
}